# This requirements are for development and testing only, not for production.
pytest
coverage
flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
git+git://github.com//daliuge/#egg=daliuge-common&subdirectory=daliuge-common
git+git://github.com//daliuge/#egg=daliuge-translator&subdirectory=daliuge-translator
git+git://github.com//daliuge/#egg=daliuge-engine&subdirectory=daliuge-engine